.reserve {
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.418);
  position: fixed;
  top: 0;
  left: 0;
  display: flex;
  align-items: center;
  justify-content: center;
}

.rContainer {
  background-color: white;
  padding: 50px;
  position: relative;
  border-radius: 5px;
}
.rContainer span{
  font-size: 2.5rem;
  font-family: 'Fuzzy Bubbles', cursive
}
.rClose {
  position: absolute;
  top: 0;
  right: 0;
  cursor: pointer;
  height: 35px;
  color: rgb(47, 58, 54);
}

.rItem {
  display: flex;
  align-items: center;
  gap: 50px;
  padding: 20px;
}

.rInfo {
  display: flex;
  flex-direction: column;
  gap: 5px;
}

.rTitle {
  font-weight: 500;
  font-size: 1.5rem;
  font-family: 'Inconsolata', monospace;
}

.rDesc {
  font-weight: 300;
  font-size: 1.2rem;
  font-family: 'Inconsolata', monospace;
}

.rMax {
  font-size: 1.2rem;
}

.rPrice {
  font-weight: 500;
}

.rSelectTables{
  display: flex;
  flex-wrap: wrap;
  gap: 5px;
  font-size: 8px;
  color: gray;
}

.table{
  display: flex;
  flex-direction: column;
}
.table label{
  font-size: 1.1rem;
}
.table input{
  height: 20px;
}



.rButton {
  background: rgb(47, 58, 54);
  border-radius: 11px;
  box-sizing: border-box;
  color: #fff;
  cursor: pointer;
  display: flex;
  font-family: Mija,-apple-system,BlinkMacSystemFont,Roboto,"Roboto Slab","Droid Serif","Segoe UI",system-ui,Arial,sans-serif;
  font-size: 1.15em;
  font-weight: 700;
  justify-content: center;
  line-height: 33.4929px;
  padding: .8em 1em;
  text-align: center;
  text-decoration: none;
  text-decoration-skip-ink: auto;
  text-shadow: rgba(0, 0, 0, .3) 1px 1px 1px;
  text-underline-offset: 1px;
  transition: all .2s ease-in-out;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  width: 100%;
  word-break: break-word;
  border: 0;
}

.rButton:active,
.rButton:focus {
  border-bottom-style: none;
  border-color: #dadada;
  box-shadow: rgba(0, 0, 0, .3) 0 3px 3px inset;
  outline: 0;
}

.rButton:hover {
  border-bottom-style: none;
  border-color: #dadada;
}